<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Usually attends office:</strong>
  <%= @user.usually_attends_office %>
</p>

<p>
  <strong>Usually eats in office:</strong>
  <%= @user.usually_eats_in_office %>
</p>

<p>
  <strong>Usual arrival time:</strong>
  <%= @user.usual_arrival_time.strftime("%I:%M %p") %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
